$breakpoint-mobile: "(max-width: 767px)";
$breakpoint-desktop: "(min-width: 768px)";

$white: #ffffff;
$base-color: #74757b;
$primary-color: #f86457;
$sub-color: #ff867b;

$gray-color-1: #f4f7fc;
$gray-color-2: #e0e8f5;
$gray-color-3: #d6deed;
$gray-color-4: #a6afbf;

$base-radius: 5px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-tiny: 0.825rem;
$font-size-base: 1rem;
$font-size-large: 1.2rem;
$font-size-larger: 1.5rem;
$font-size-largest: 2rem;
