$breakpoint-mobile: "(max-width: 767px)";
$breakpoint-desktop: "(min-width: 768px)";

$white: #ffffff;
$primary-color: #f86457;
$sub-color: #ff867b;

$gray-color-1: #f4f7fc;
$gray-color-2: #e0e8f5;
$gray-color-3: #d6deed;
$gray-color-4: #a6afbf;

$base-color: #74757b;

$primary-focus-color: #ff9d49;
$primary-hover-color: #ffb77a;
$primary-normal-color: #ffc695;

$base-radius: 5px;
