.button {
  width: auto;
  background-color: $primary-color;
  color: $white;
  border-radius: $base-radius;
  font-weight: $font-weight-medium;
  font-size: $font-size-base;

  &.disabled {
    background-color: $gray-color-4;
  }

  &.primary {
    width: 7rem;
    height: 3rem;
  }

  &.secondary {
    width: 7rem;
    height: 3rem;
    background-color: $white;
    border: 1px solid $base-color;
    color: $base-color;
  }
}
