.todo-list {
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100% - 8rem);
  padding: 0 2rem;
  .todo-none-text {
    padding: 2rem 0;
    text-align: center;
    font-size: $font-size-large;
  }
  ul {
    margin-top: 2rem;
  }
}
