.todo-list-item {
  background-color: $gray-color-2;
  .item-header {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    textarea {
      display: block;
      font-size: $font-size-base;
      resize: none;
      text-decoration: underline;
      margin-left: 13px;
      line-height: 1.4;
      background-color: $gray-color-1;
      box-shadow: 0px 4px 10px -8px $base-color;
      overflow: auto;
      height: auto;
      box-sizing: border-box;
    }
    p {
      display: inline-block;
      width: calc(100% - 2rem);
      height: auto;
      padding: 2px 1rem;
      white-space: pre-line;
    }
    &.complete {
      p {
        text-decoration: line-through;
        opacity: 0.3;
      }
    }
  }

  .item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $gray-color-3;
    padding: 0.5rem 1rem;
    font-size: $font-size-tiny;
    .item-timestamp,
    .item-functions {
      span {
        padding-left: 0.25rem;
      }
    }
    .item-functions {
      button {
        font-size: $font-size-tiny;
        color: $base-color;
      }
    }
  }
}

.todo-list-item + .todo-list-item {
  margin-top: 1rem;
}
